// .image {
//     position: absolute;
//   z-index: -1;
//   top: 5%;
//   left: 25%;
//   width: 120px;
//   height: 120px;
//   margin:-100px 0 0 -80px;
//   opacity: 0.9;
//   animation: rotation 8s linear 0s normal forwards ;
//   //animation: bubble 2s linear 0. 1 normal forwards;
// }

.image {
  position: absolute;
z-index: -1;
top: 1%;
left: 50%;
width: 120px;
height: 120px;
margin:-10px 0 0 500px;
opacity: 0.9;
animation: rotation 8s linear 0s normal forwards ;
//animation: bubble 2s linear 0. 1 normal forwards;
}

// @keyframes rotation {
//   from {
//     transform: rotate(180deg);
//   }
//   to {
//     transform: rotate(80deg);
//   }

// }

@keyframes rotation {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(120deg);
  }

}