

.backgroundImage {
 
  // background-image: url("https://images.unsplash.com/photo-1436262513933-a0b06755c784?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  //width: 700% !important;
      background-position: center center;
      width: 100%;
      height:auto ;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			
  
}

