.carouselWrapper {
  max-width: 500px;
  max-height: auto;

  position: absolute;
  z-index: 0;
  top: 31%;
  left: 4%;
  border-radius: 100px !important;
  
  margin: 0 0 0 775px;
  transform: rotate(-10deg);

}

.newWrapper {
  
}
.clip-polygon {
  clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  /* Note that percentages work as well as px */
}